<nav class="pagination flex justify-center items-center space-x-2 mt-6">
  <% if current_page > 1 %>
    <%= link_to "#{material_icon.shape(:first_page).css_class('align-middle mr-1')} Primeira".html_safe, url_for(page: 1, turbo_frame: "products_table"), data: { turbo_frame: "products_table" }, class: 'flex items-center justify-center px-4 py-2 rounded border border-pink-300 text-pink-700 bg-pink-50 hover:bg-pink-200 transition-colors font-semibold flex items-center gap-1' %>
    <%= link_to "#{material_icon.shape(:chevron_left).css_class('align-middle mr-1')} Anterior".html_safe, url_for(page: current_page - 1, turbo_frame: "products_table"), data: { turbo_frame: "products_table" }, class: 'flex items-center justify-center px-4 py-2 rounded border border-pink-300 text-pink-700 bg-pink-50 hover:bg-pink-200 transition-colors font-semibold flex items-center gap-1' %>
  <% end %>
  <% paginator.each_page do |page| %>
    <% if page %>
      <% if page == current_page %>
        <span class="px-4 py-2 rounded border border-pink-600 bg-pink-600 text-white font-bold"><%= page %></span>
      <% else %>
        <%= link_to page, url_for(page: page, turbo_frame: "products_table"), data: { turbo_frame: "products_table" }, class: 'px-4 py-2 rounded border border-pink-300 text-pink-700 bg-pink-50 hover:bg-pink-200 transition-colors font-semibold' %>
      <% end %>
    <% else %>
      <span class="px-4 py-2 text-gray-400">...</span>
    <% end %>
  <% end %>
  <% if current_page < total_pages %>
    <%= link_to "Próxima #{material_icon.shape(:chevron_right).css_class('align-middle ml-1')}".html_safe, url_for(page: current_page + 1, turbo_frame: "products_table"), data: { turbo_frame: "products_table" }, class: 'flex items-center justify-center px-4 py-2 rounded border border-pink-300 text-pink-700 bg-pink-50 hover:bg-pink-200 transition-colors font-semibold flex items-center gap-1' %>
    <%= link_to "Última #{material_icon.shape(:last_page).css_class('align-middle ml-1')}".html_safe, url_for(page: total_pages, turbo_frame: "products_table"), data: { turbo_frame: "products_table" }, class: 'flex items-center justify-center px-4 py-2 rounded border border-pink-300 text-pink-700 bg-pink-50 hover:bg-pink-200 transition-colors font-semibold flex items-center gap-1' %>
  <% end %>
</nav>
